<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content ="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>

   <link  rel="stylesheet" href='{% static "css/bootstrap.css"%}'>

    <script src="{% static 'css/bootstarp.js' %}"></script>


{% block style %} {% endblock %}

</head>
<body>
<div class="container-fluid">
<h1 class=" alert alert-secondary text-center">Welcome To Project Manager</h1>

{% block content %}
    
{% endblock %}
</div>
</body>
</html>